/CPP-Vulkan/cmake-build-debug/
/CPP-Vulkan/cmake-build-debug-visual-studio/
/CPP-Vulkan/build/
/VEngine/NativeTools/bin/
/VEngine/VEngine/bin/
/VEngine/NativeTools/obj/
/VEngine/VEngine/obj/
/CPP-Vulkan/FidelityFX/